 @font-face {
    font-family: ProximaNova-Sbold;
    src: url(pics/Font/ProximaNova-Sbold.otf);
}


html, body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

 #weebly-logo{
  margin: 0px 20px;
}

.main-header{
  /* blue border on top of screen that contains weebly logo */


  background-color: #518DCA;
}

.nav{
  /* navigation bar on the left */


    background-color:#2C3E50;
    height:100%;
    width:250px;
    float:left;
    padding:0px;

    /* font for all nav-headers */
    font-family: ProximaNova-Sbold;


}

.nav-header p{
  /* general formatting for all banners in the nav bar */

  text-align: center;
  color: #96ADC3;
  width: 100%;
  height: 35px;
  line-height: 35px;
  vertical-align: middle;

  background-color: #4F657B;
  border-bottom: 2px solid black;
  margin:0px 0px;


}
.page-edit p {
  /* formatting for page elements under templates header */

  text-align: left;
  align: center;

  position:relative;
  margin-left: 30px;
  margin-top: -5px;
  margin-bottom: 0px;
  z-index:1;

  color: #FFFFFF;
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 40px;


  width: 48%;
  background-color: #518DCA;

  border-radius: 5px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.template-box button{
  display: block;

  height: 16px;
  width: 16px;


  background:transparent no-repeat;
  background-image: url('pics/Sprites/Add-Delete-Edit-Icons.png');

  border: 0px;


}


.page-edit .delete-page-button{
  margin-left: 186px;
  top: 20;
  position:relative;
  z-index:2;
  background-position: -52px -12px;
}

.delete-page-button:hover{
  background-position: -52px -31px;

}

.delete-page-button:hover + p{
  background: #D86A65;
  -webkit-transition: background 2s;

}

.rename-page-button{
  background-position: -52px -31px;
  margin-left: 166px;
  top:-10;

  position: relative;
  z-index:2;

}

.page-form{
  margin-bottom: 28px;
}

#new-page-field{
  /* input field for new pages */
  background: transparent;
  display:block;
  border: 2px solid #4D6379;
  color: #FFFFFF;
  font-family: ProximaNova-Sbold;
  text-align: left;
  margin-top: 10px;

  padding-left: 17px;
  padding-top: 8px;
  padding-bottom: 8px;

  /*add padding so text doesn't overlap button */
  padding-right: 10%;

  /*make rounded rect*/
  border-radius: 5px;

  /*match length of created page buttons */
  margin-left: 30px;
  margin-bottom: 22px;
  width: 72%;

}




/* formatting for button in new page area */
#new-page-button{
    /*positioning inside text field*/

    margin-left: 186px;
    margin-top: -48px;

    /*load sprite and select default add sprite*/

    background-position: -12px -12px;
    border: 0px;

}

#new-page-field:hover + #new-page-button, #new-page-button:hover{
  /* make page button white if hovered or field is hovered */

  background-position: -12px -31px;

}

#new-page-field:focus:hover + #new-page-button{
  /* change reset page button to default status is input field is focus and page
    button is not hovered */

  background-position: -12px -12px;
}

#new-page-button:active{

  background-position: -12px -50px;
}


/* formatting for in text color of new-page-area */
*::-webkit-input-placeholder {
    color: #4D6379;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #4D6379;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #4D6379;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #4D6379;
}
