 @font-face {
    font-family: ProximaNova-Sbold;
    src: url(pics/Font/ProximaNova-Sbold.otf);
}


html, body {
    margin: 0;
    padding: 0;
    background-color: lightblue;
}

 #weebly-logo{
  margin: 0px 20px;
}

.main-header{
  /* blue border on top of screen that contains weebly logo */


  background-color: #518DCA;
}

.nav{
  /* navigation bar on the left */


    background-color:#2C3E50;
    height:100%;
    width:250px;
    float:left;
    padding:0px;

    /* font for all nav-headers */
    font-family: ProximaNova-Sbold;


}

.nav-header p{
  /* general formatting for all banners in the nav bar */


  text-align: center;
  color: #96ADC3;
  width: 100%;
  height: 35px;
  line-height: 35px;
  vertical-align: middle;

  background-color: #4F657B;
  border-bottom: 2px solid black;
  margin:0px 0px;


}
.template-box>p {
  /* formatting for page elements under templates header */

  text-align: left;
  align: center;

  color: #FFFFFF;
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 60%;
  background-color: #518DCA;
  margin-left: 30px;
  border-radius: 5px;
}



#new-page-field{
  /* input field for new pages */
  background-color: #2C3E50;
  border: 2px solid #4D6379;
  color: #4D6379;
  font-family: ProximaNova-Sbold;
  text-align: left;

  padding-left: 17px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 5px;

  margin-left: 30px;
  width: 69%;

  /* delete button image */
  background: url(pics/Sprites/Delete-Icon.png) no-repeat 90% 8px;

}

/* formatting for in text color of new-page-area */
*::-webkit-input-placeholder {
    color: #4D6379;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #4D6379;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #4D6379;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #4D6379;
}
